<?php

$config = [

    // 公開可能鍵と秘密鍵の文字列を記入します。
    // https://webpay.jp/settings

    'public_key' => 'test_public_XXXXXXXXXX',
    'private_key' => 'test_secret_XXXXXXXXX',

    // サブディレクトリに設置する場合、修正してください。
    // 例: https://example.org/myapp
    // 'base_uri' => '/myapp'

    'base_uri' => '',

    // セッション Cookie で使う名前
    'app_name' => 'payment_app'
];
