{% extends "layout.example.twig" %}

{% block title %}
お支払いページ
{% endblock %}

{% block content %}
  <h1>お支払いページ</h1>

  <form id="chargeForm" action="#" method="post">
    <div class="form-group">
      <label class="sr-only" for="inputAmount">金額</label>
      <div class="input-group">
        <div class="input-group-addon">金額(円)</div>
        <input type="text" class="form-control" id="chargeAmount" placeholder="金額を入力">
      </div>
    </div>
    <div class="form-group">
      <script
        src="https://checkout.webpay.jp/v2/"
        class="webpay-button"
        data-key="{{ public_key }}"
        data-lang="ja"
        data-partial="true"
      ></script>
    </div>
    <button type="submit" class="btn btn-primary" id ="chargeSubmit">支払う</button>
  </form>

  <div class="alert alert-danger" role="alert" id="alertMsg" style="display: none; width: 60%">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <p></p>
  </div>
{% endblock %}

{% block js_content %}
<script>
// WebPay.testMode = true;
var charge_uri = '{{ charge_uri }}';
</script>
<script src="js/example.js"></script>
{% endblock %}